<tr class="polls"> <td><%= poll.image %></td> <td><%= poll.content %></td> <td><%= link_to 'Show', poll %></td> <td><%= link_to 'Edit', edit_poll_path(poll) %></td> <td><%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>