
<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field cc">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  
  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="post-new-bar">
      <%= f.file_field  :image, class: "a", accept: 'image/png,image/gif,image/jpeg' %>
      <span class="post-new-bar-remove">
      <a href="#" class="b" data-dismiss="fileinput">Remove</a></span>
    </div>
    <div class="fileinput-preview fileinput-exists thumbnail dd" style="width: 600px; height:auto;"></div>
    
  </div>

  <div class="actions">
    <%= f.submit "Create", class: "post-new-bar-create"%>
  </div>

<% end %>

